# 生产环境配置
spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    root: WARN
    com.ecommerce: INFO
    org.hibernate.SQL: WARN
